body{
    background-color: rgb(252, 252, 252);
}

.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-align: center;
    font-size: 20px;
    margin-top:30px;
}

.card{
    width: 300px;
    /* height: 290px; */
    margin: 12px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background-color: white;
    cursor: pointer;
}

.card:hover{
    color: blue;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: auto;
}

.content{
    padding-left: 8px;
}

.content > p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.author{
    color: black;
    font-weight: 500;
    font-size: 12px;
}
