button{
  /* width: 20%; */
  padding: 5px;
  font-size: 13px;
  margin-left: 20px;
  margin-bottom: 5px;
  /* height: 10%; */
  /* border: none; */
  /* background-color: azure; */
}

body{
  place-items: center;
  background-color: rgba(31, 31, 31, 0.425);
}

.formbox{
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  margin-top: 20%;
  /* width: 250px; */
}

form div{
  margin: 5%;
}

form{
  padding: 10px;
}

fieldset{
  border: none;
}

legend{
  font-size: 24px;
}

input{
  width: 90%;
  padding: 10px;
  margin: 2%;
  border: none;
  border-radius: 10px;
  background-color: rgba(63, 63, 63, 0.151);
}

p{
  font-size: 16px;
}