body{
    display: grid;
    /* align-items: center;*/
    justify-content: center;
    margin-top: 20%;
}

.click{
    padding:5px;
    border: 5px solid rgb(255, 31, 136);
    border-radius: 5px;
    background-color: rgb(252, 186, 230);
    color: rgb(255, 31, 136);
    font-size: 24px;
    transition: all 0.3s;
    animation: slide 2s linear 2s both;
}

.click:hover{
    animation-play-state: paused;
    background-color: rgb(255, 31, 136);
    color: white;
}

@keyframes slide{
    0%{
        transform: translate(0);
        background-color: rgb(255, 31, 136);
        color: white;
    }
    100%{
        transform: translateY(200px);
    }
}